{{ define "main" }}
<ul class="posts">
	{{ $paginator := .Paginate (where .Data.Pages.ByDate.Reverse "Type" "post") (index .Site.Params "archive-paginate" | default 25) }}
	{{ range $paginator.Pages  }}
	<li class="post">
		{{ if .Title }}
		<a href="{{ .RelPermalink }}">{{.Title}}</a> <span class="meta">{{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft
			}} <span class="draft-label">DRAFT</span> {{ end }}</span>
		{{ else }}
		<a href="{{ .RelPermalink }}">{{ dateFormat "Jan 2, 2006" .Date }}</a>
		{{ end }}
	</li>
	{{ end }}
</ul>

{{ end }}
