{{ define "main" }}
<ul class="posts">
	{{- range .Data.Pages -}}
	{{- if (not (in (.Site.Params.excludedTypes | default (slice "page")) .Type)) -}}
	<li class="post">
		{{ if .Title }}
		<a href="{{ .RelPermalink }}">{{.Title}}</a> <span class="meta">{{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft
			}} <span class="draft-label">DRAFT</span> {{ end }}</span>
		{{ else }}
		<a href="{{ .RelPermalink }}">{{ dateFormat "Jan 2, 2006" .Date }}</a>
		{{ end }}
	</li>
	{{- end -}}
	{{- end -}}
</ul>

{{ partial "pagination.html" . }}
{{ end }}
