<header class="header">
    <hgroup>
        <h1 itemprop="name" class="blog-title"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
        <h2 itemprop="description" class="blog-description">{{ $.Site.Params.Subtitle }}</h2>
    </hgroup>

    <br />

    <nav class="nav">

        {{ $url := .RelPermalink }}
        <!---->
        {{ $mb := "microdotblog" }}
        <!---->
        {{ $lkd := "linkedin" }}
        <!---->
        {{ $mstdn := "mastodon" }}
        <!---->

        <a href='{{ "/" | relURL }}'>Home</a>
        {{ range .Site.Menus.main }}
        | <a href="{{ .URL }}">{{ .Name }}</a>
        {{ end }}
        {{ with .Site.GetPage "/blog" }}
        <a href=' {{ "/blog" | relURL }}'>Blog</a>
        {{ end }}

        {{ with $.Scratch.Get "social-list" }}
        <ul class="social-list">
            {{ range . }}
            {{ $social_value := site.Params.Get . }}
            {{if ne $social_value "" }}
            <li class="social-item"><a rel="me" class="fab fa-{{ . }}" {{if eq . $mstdn }} href="{{ $social_value }}" {{ else }}
                    href="https://{{ if eq . $mb }}micro.blog{{else}}{{ . }}.com{{ if eq . $lkd }}/in{{end}}{{end}}/{{ $social_value }}"
                    {{ end }} target="_blank"></a></li>
            {{ end }}
        </ul>
        {{ end }}
        {{ end }}
    </nav>
</header>
