<header class="header">
    <hgroup>
        <h1 itemprop="name" class="blog-title"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
        <h2 itemprop="description" class="blog-description">Subtitle</h2>
    </hgroup><br /><br />
    
    <a href="/index.html">Home</a> |
    <a href="/about.html">About</a> |
    <a href="/archive.html">Archive</a>
    <br /><br />
    
    <nav class="nav">
    <ul class="social-list">
        
           <li class="social-item"><a class="subscribe icon-twitter" href="http://www.twitter.com/..." target="_blank"></a></li>&nbsp;
        <li class="social-item"><a class="subscribe icon-facebook" href="http://www.facebook.com/..." target="_blank"></a></li>&nbsp;
        <li class="social-item"><a class="subscribe icon-google-plus" href="http://plus.google.com/..." target="_blank" rel="publisher"></a></li>&nbsp;
        <li class="social-item"><a class="subscribe icon-linkedin" href="http://www.linkedin.com/..." target="_blank" rel="publisher"></a></li>&nbsp;
        <li class="social-item"><a class="subscribe icon-github" href="http://www.github.com/..." target="_blank"></a></li>&nbsp;
        <!-- <li class="social-item">&nbsp;</li> -->
        <!-- <li class="social-item"><a class="subscribe icon-feed" href="http://zach.oglesby.co/rss/" target="_blank"></a></li> -->
    </ul>
    </nav>

</header>