<head>
    
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    
    <title>{{ .Title }}{{ if ne .Title .Site.Title }} // {{ .Site.Title }}{{ end }}</title>
    <meta name="description" content="My Site" />
    
    
    <meta property="og:description" content="{{ .Title }}{{ if ne .Title .Site.Title }} // {{ .Site.Title }}{{ end }}" />
    <meta property="og:title" content="{{ .Title }}{{ if ne .Title .Site.Title }} // {{ .Site.Title }}{{ end }}">
    

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://kit.fontawesome.com/1f5b07a63b.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic|Open+Sans:700,400" />

</head>