<section class="list-item">
    {{ if .Title }}
  <h1 class="title"><a href="{{ .RelPermalink }}">{{.Title}}</a></h1>
    {{ end }}
  <a href="{{ .RelPermalink }}" style="border-bottom: 0px;"><time>{{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</time></a>
  <p><div class="description">
    {{ if .Title }}
      {{ if isset .Params "description" }}
      {{ .Description }}
      {{ else }}
      {{ .Content }}
      {{ end }}
  </div></p>
    {{ else }}
    <p>{{ .Content }}</p>
    {{ end }}
</section>
<br />